/*
 * Utilities
 */

input:where([type="text"], [type="search"], [type="email"], [type="password"], [type="url"]) {
  height: calc(1ch + var(--size-4));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn-link {
  padding-inline: var(--size-1);
  margin-inline: calc(var(--size-1) * -1);
  padding-block: var(--size-1);
  margin-block: calc(var(--size-1) * -1);

  background-color: transparent;
  color: var(--link);
  /* Seems open-prop's normalize sets this to a specific purple */
  text-decoration-color: var(--indigo-2);
}

.btn-link:hover {
  text-decoration-line: underline;
}

.alert--danger {
  padding: var(--size-4);
  border-radius: var(--radius-2);
  background-color: var(--red-2);
  border: 2px solid var(--red-9);
  color: var(--red-9);
}

.alert--danger .alert__link {
  color: var(--red-9);
  text-decoration: underline;
  font-weight: 700;
}

.alert--danger .alert__link:hover {
  text-decoration: none;
}

/*
 * Global layout
 */

body {
  /* Stick footer to bottom */
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body > * {
  width: min(90%, 80ch);
  margin-inline: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--size-2);
}

.header__nav {
  display: flex;
  gap: var(--size-4);
  align-items: center;
}

.main__container {
  margin-block: var(--size-8);
}

.footer__container {
  display: flex;
  justify-content: center;
  margin-bottom: var(--size-2);
  font-size: var(--font-size-0);
}
