.bookmarks__list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.bookmark {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.bookmark__description {
  font-size: 90%;
}
.bookmark__created-at {
  font-size: 80%;
}
